<tr>
    <td align="center">
        <table bgcolor="white" border="0" cellpadding="0" cellspacing="0" style="max-width:650px;border-radius:4px;overflow:hidden;padding:30px 15px 0 15px;" width="100%">
            <tbody>
                <tr border="0" cellpadding="0" cellspacing="0" style="font-size:14px; color:#000000; line-height:24px;" width="100%">
                    <td class="xs-inline-block" style="padding-bottom:10px;">
                        Bonjour,<br/><br/>
                        Tout d'abord en ce début d'année, nous vous souhaitons nos meilleurs voeux.<br/>
                        Ensuite, nous avons l'honneur de vous annoncer la mise en ligne de la nouvelle version de notre plateforme de gestion de projets.<br>
                        Afin de vous connecter à cette nouvelle version et de profiter de l'ensemble des fonctionnalités, vous allez devoir suivre les étapes suivantes.
                    </td>
                </tr>
                <tr border="0" cellpadding="0" cellspacing="0" style="font-size:14px; color:#000000; line-height:24px;" width="100%">
                    <td class="xs-inline-block" style="padding-bottom:10px;">
                        <strong>1ère étape : définir votre nouveau mot de passe</strong><br>
                        En effet, pour des raisons de sécurité, votre mot de passe n'a pas été récupéré dans la nouvelle version. Ainsi, afin de pouvoir vous connecter la première fois, vous devez d'abord cliquer sous le lien ci-dessous pour définir votre mot de passe.
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="display:inline-block; margin:7px;" width="350">
                            <tbody>
                                <tr align="center">
                                    <td align="center" bgcolor="#4F798B" height="44" style="border-radius:4px; background-color:#4F798B;" valign="center" width="350">
                                        <a style="display:block; text-decoration:none; line-height:44px; color:#FFFFFF;font-weight: bold;cursor: pointer;" href="{{ plateforme_url }}auth/new-password/{{ user.verifyCode }}">DÉFINIR VOTRE MOT DE PASSE</a>                                                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr border="0" cellpadding="0" cellspacing="0" style="font-size:14px; color:#000000; line-height:24px;" width="100%">
                    <td class="xs-inline-block" style="padding-bottom:10px;">
                        <strong>2ème étape : première connexion</strong><br>
                        Vous pouvez à présent vous connecter sur notre nouvelle plateforme en utilisant cette adresse email et le mot de passe que vous venez de définir. Afin d'assurer le bon fonctionnement de la nouvelle version de notre plateforme, vous devrez certainement en 1er lieu répondre à un formulaire permettant de confirmer l'identité du représentant légal de l'association. Il est notamment important de vérifier et confirmer son adresse email.<br>
                        Pour vous connecter à la nouvelle version de notre plateforme, veuillez suivre le lien suivant.
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="display:inline-block; margin:7px;" width="350">
                            <tbody>
                                <tr align="center">
                                    <td align="center" bgcolor="#4F798B" height="44" style="border-radius:4px; background-color:#4F798B;" valign="center" width="350">
                                        <a style="display:block; text-decoration:none; line-height:44px; color:#FFFFFF;font-weight: bold;cursor: pointer;" href="{{ plateforme_url }}auth/login">CONNEXION</a>                                                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr border="0" cellpadding="0" cellspacing="0" style="font-size:14px; color:#000000; line-height:24px;" width="100%">
                    <td class="xs-inline-block" style="padding-bottom:10px;">
                        <strong>3ème étape : confirmation des personnes de contact par le représentant légal</strong><br>
                        Cette étape concerne uniquement les personnes de contact qui ne sont pas elles-mêmes le représentant légal de leur association.<br>
                        En effet, à présent, certaines tâches nécessitent que la personne de contact soit mandatée par le représentant légal de l'association. Si la personne de contact n'est pas mandatée alors elle n'aura pas accès à l'ensemble des fonctionnalités de la plateforme, ce qui pourrait entrainer la mise en pause du projet et de nos versements.<br>
                        L'obtention du mandat par le représentant légal de votre association est donc une procédure primordiale. Cependant, il s'agit d'une procédure très simple et rapide. Dès lors qu'une personne de contact aura besoin d'être mandaté pour intervenir sur un projet, alors le representant légal recevra un email. Dans cet email, un lien permettra au représentant légal de mandater la personne de contact.<br> 
                        Toutefois, il sera possible à une personne de contact de se connecter et d'accomplir certaines tâches n'exigeant pas d'être mandatée par le représentant légal en attendant la bonne réalisation de cette 3ème étape.
                    </td>
                </tr>
                <tr border="0" cellpadding="0" cellspacing="0" style="font-size:14px; color:#000000; line-height:24px;" width="100%">
                    <td class="xs-inline-block" style="padding-bottom:10px;">
                        <strong>4ème étape : découverte et utilisation de la plateforme</strong><br>
                        Vous pourrez enfin découvrir la plateforme et la totalité de ses fonctionnalités.<br>
                        La nouvelle plateforme est accessible à l'adresse suivante : <a href="{{ plateforme_url }}">{{ plateforme_url }}</a>.<br>
                        Nous avons voulu améliorer l'ergonomie de la plateforme et en faciliter l'utilisation. Ainsi, lors de vos futures connexions, la page "Tableau de bord", permettra de regrouper toutes les tâches en attente de votre intervention : reçu à valider, rapport à envoyer, RIB à envoyer, informations légales à compléter...<br>
                        Vous retrouverez les informations complétes concernant votre projet dans la page dédiée à ce projet : virements passés et à venir, tâches en attende, rapport(s) passé(s) ou en attente, reçu(s) passé(s) ou en attente...<BR>
                        Enfin, l'une des principales nouveautés est la messagerie interne à la plateforme. En effet, la communication entre personne de contact et notre fondation NIF ne se fera plus par email mais via une messagerie interne, avec un fil de discussion propre à chaque projet. A partir de maintenant, il vous est demandé d'échanger avec la personne chargée du suivi de votre projet via cette messagerie.
                    </td>
                </tr>
                <tr border="0" cellpadding="0" cellspacing="0" style="font-size:14px; color:#000000; line-height:24px;" width="100%">
                    <td class="xs-inline-block" style="padding-bottom:10px;text-align: center;">
                        Nous restons à votre disposition.<BR>
                        Cordialement,<BR>
                        <strong>Le Comité de Gestion des Projets de la Fondation Nif</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr height="14"></tr>