<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            coucou
            <img src="{{ asset("/uploads/photos/1682680851-cx-nPYwDgEAssKVGVkdaXySz7fl2rBAhyWq03BFSrm505kjhdUUy7ebiR8ZLKRHuK0gLXPd4G2sNDxyTOWJHZS0xNjgyNjgwODUx.jpg")|imagine_filter('my_thumb') }}" />
            <img src="{{ asset("/uploads/photos/1682680870-Pg9HnnbgFNYeAB1-lAxtzeSGfaHRfbZ-60hzI478fmLfeF04SjJuXPMitV1MD2o20qLv2bTm7ji7Iq_y2TIutS0xNjgyNjgwODcw.jpg")|imagine_filter('my_thumb') }}" />
            <img src="{{ asset("/uploads/photos/1682680919--S5E6a9-pBh-XUbFM5BZEjh3NxsXfuP4mLjtQpdcsYz7Y094mUASXjqF4BCIX4a_Pjaujl2azTS9KCCTpueBRS0xNjgyNjgwOTE5.jpg")|imagine_filter('my_thumb') }}" />

        {% endblock %}
    </body>
</html>
