{% for o in organizations %}
    <!-- maxsize_hack -->
    {% if loop.first == 0 %}<pagebreak>{% endif %}
    <div style="background: #4F798B;padding:10px; margin-bottom: 15px;color:#FFF;font-weight:bold;border-radius: 5px;"><tocentry content="{{ o.name }}"/>{{ o.name }}</div>
    {% if o.legalStatus and o.legalStatus != "" %}
        <div style="border-radius: 5px;background:#e4e7eb;width: 100%; display: inline-block; float: left;padding: 12px 5px;margin-bottom: 20px;">
            <table style="width:100%;padding: 0;font-size: 13px;">
                <tr>
                    <td style="width:33.33%;padding: 0" valign="top">
                        <div style="font-size:9px;font-weight: bold">STATUT LEGAL</div>
                        <div style="color: #444">{{ o.legalStatus }}</div><BR>
                        <div style="font-size:9px;font-weight: bold">NUMERO IDENTIFICATION</div>
                        <div style="color: #444">{{ o.identificationNumber }}</div>
                    </td>
                    <td style="width:33.33%;padding: 0" valign="top">
                        {% if o.representative %}
                            <div style="font-size:9px;font-weight: bold;">REPRESENTANT LEGAL</div>
                            <div style="color: #444">{{ o.representative.lastname }} {{ o.representative.firstname }}</div>
                        {% endif %}

                        {% if o.rib %}
                            <div style="font-size:9px;font-weight: bold">RIB</div>
                            <div style="color: #444">{{ o.rib.iban|u.wordwrap(4, " ", 1) }}</div><span style="font-size:9px;">BIC:</span> <span style="color: #444">{{ o.rib.bic }}</span>
                            {% endif %}
                    </td>
                    <td style="width:33.33%;padding: 0" valign="top">
                        <div style="font-size:9px;font-weight: bold">SIEGE SOCIAL</div>
                        <div style="color: #444">{{ o.headquarterAddress }}</div>
                        <div style="color: #444">{{ o.headquarterZipcode }} {{ o.headquarterCity }}</div>
                        <div style="color: #444">{{ o.headquarterCountry ? o.headquarterCountry.name|upper : "" }}</div>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
    <hr style="margin-bottom: 30px;">
    {% if o.projects %}
        {% for p in o.projects %}
            {% if p.number != null %}
                <div style="border-radius: 5px;background:#f6f9fd;width: 100%; display: inline-block; float: left;padding: 12px 5px;margin-bottom: 20px;">
                    <div style="font-size:13px;font-weight: bold;margin-bottom: 15px;">{{ p.number }} - {{ p.name }}</div>
                    <table style="width:100%;padding: 0;font-size: 13px;">
                        <tr>
                            <td style="width:50%;padding: 0" valign="top">
                                {% if p.initialAllocated %}
                                    <div style="font-size:9px;font-weight: bold;">MONTANT(S) ALLOUE(S)</div>
                                    <div style="color: #444">{{ p.initialAllocated ? p.initialAllocated.amount|number_format(2, '.', ' ') ~ " €" : "" }} ({{ p.initialAllocated.dateSign|date("d/m/Y") }})</div>
                                    {% if p.extensions %}
                                        {% for e in p.extensions %}
                                            <div style="color: #444">+ {{e.amount|number_format(2, '.', ' ') ~ " €" }} ({{ e.dateSign|date("d/m/Y") }})</div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td style="width:50%;padding: 0" valign="top">
                                {% if p.contact %}
                                    <div style="font-size:9px;font-weight: bold">CONTACT</div>
                                    <div style="color: #444">{{ p.contact.lastname }} {{ p.contact.firstname }}</div>
                                    <div style="color: #444">{{ p.contact.email }}</div>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    {% if p.locals %}
                            {% for l in p.locals %}
                                {% if loop.first %}<div style="font-size:9px;font-weight: bold;">ASSOCIATION(S) LOCALE(S)</div>{% endif %}
                                <div style="color: #444;font-size: 13px;">{{ l.name }} ({{ l.headquarterCountry ? l.headquarterCountry.name|upper : "" }})</div>
                            {% endfor %}
                        </div>
                    {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endfor %}